body {
    color: blue;
    background-color: bisque;
}

* {
    margin: 10px;
    padding: 10px;
}

h1, h2 {
    color: green;
}

/* id를 찾아간다 한 번만 사용 */
#info {
    color: purple;
}

/* class를 찾아간다 복수개 사용*/
.list {
    background-color: white;
    display: inline-block;
}

/* 클래스 지정해주고 :  뒤에 있는 건 가상 (추상) 클래스, 즉 이미 만들어져 있음 */
.list:hover {
    background-color: pink;
}

table {
    border: 1px salmon solid;
    border-collapse: collapse;
    caption-side: bottom;
}

th, td {
    border: 1px skyblue dotted;
}

tr {
    text-align: center;
}

.border {
    border: orangered solid;
    border-width: 40px;
}