@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

html, body {
    height: 100%;
    font-family: Nanum Pen Script;
    font-size: 20px;
}

aside {
    width: 200px;
    height: 100%;
    float: left;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.logoImg {
    width: 100px;
    height: 100px;
}

h1 {
    text-align: center;
}